{{ define "main" }}
{{ $pageTitle := .Title }}
<div class="fr-container">
  <div class="fr-mb-10v fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-10">
      <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-192">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-192">
          <ol class="fr-breadcrumb__list">
            <li>
              <a class="fr-breadcrumb__link" href="{{ .Site.BaseURL }}">Accueil</a>
            </li>
            <li>
              <a class="fr-breadcrumb__link" aria-current="page">Actualités</a>
            </li>
          </ol>
        </div>
      </nav>
      <h1>Les actualités du programme</h1>
      <div class="c-filters">
        <button class="fr-link fr-link--align" aria-expanded="false" aria-controls="filters">Filtres</button>
        <div class="fr-collapse c-filters__content" id="filters">
          <ul class="fr-tags-group">
            {{ range .Site.Taxonomies.categories }}
            <li{{ if eq $pageTitle .Page.Title }} class="is-active"{{ end }}><a class="fr-tag" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
          </ul>
          <a class="fr-link fr-link--sm fr-fi-close-circle-line fr-link--icon-left" href="{{ relref . "actualites" }}">Réinitialiser les filtres</a>
          <button class="fr-link fr-link--sm fr-fi-close-line fr-link--icon-left" aria-expanded="false" aria-controls="filters">Fermer</button>
        </div>
      </div>
      {{ $paginator := .Paginate .Pages }}
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-10v">
        {{ range $paginator.Pages }}
        <div class="fr-col-12 fr-col-md-6">
          {{ .Render "li" }}
        </div>
        {{ end }}
      </div>
      {{ template "partials/pagination.html" . }}
    </div>
  </div>
</div>

{{ end }}
