{{ define "main" }}

<div class="fr-container">
  <div class="fr-mb-10v fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-10 fr-col-xl-8">
      <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-192">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-192">
          <ol class="fr-breadcrumb__list">
            <li>
              <a class="fr-breadcrumb__link" href="{{ .Site.BaseURL }}">Accueil</a>
            </li>
            <li>
              <a class="fr-breadcrumb__link" href="{{ relref . "blog/_index.md" }}">Blog</a>
            </li>
            <li>
              <a class="fr-breadcrumb__link" aria-current="page">{{ .Title }}</a>
            </li>
          </ol>
        </div>
      </nav>
      <h1>{{ .Title }}</h1>
      <div class="c-metas">
        <div class="c-metas__author">{{ partial "date" .Date }} par {{ .Params.author }}</div>
        <div class="c-metas__line">
          <ul class="fr-tags-group">
            {{ range (.GetTerms "categories") }}
            <li><a class="fr-tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
          </ul>
          <div class="c-metas__share">
            Partager <a href="https://twitter.com/share?url={{ .Permalink | safeURL }}&text={{ .Title | safeURL }}" class="fr-link" target="_blank"><span class="fr-fi-twitter-fill"></span></a> <a href="mailto:?subject={{ .Title | safeURL }}&body={{ .Permalink }}" class="fr-link" target="_blank"><span class="fr-fi-mail-line"></span></a>
          </div>
        </div>
      </div>
      <div class="c-wysiwyg">
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ $posts := where (where .Site.Pages "Section" "blog") ".Title" "in" .Params.related }}
  {{ if ( gt ( len $posts ) 0 ) }}
  <h2>À lire aussi</h2>
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-12v">
    {{ range $posts }}
    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <p class="fr-card__detail">{{ partial "date" .Date }}</p>
          <h4 class="fr-card__title">
            <a href="{{ .Permalink }}" class="fr-card__link">{{ .Title }}</a>
          </h4>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}
