.c-filters {
  margin-bottom: 2rem;

  @media (min-width: 48em) {
    margin-bottom: 4rem;
  }

  &__content {
    position: relative;
    padding-top: 1rem;
  }

  &__close {
    position: absolute;
    top: -30px;
    right: 0;
  }

  .fr-btn--secondary {
    @media (min-width: 48em) {
      display: none;
    }
  }

  .fr-collapse#filters-defis {
    @media (min-width: 48em) {
      visibility: visible;
      max-height: none;
      display: block;
      overflow: visible;
      --collapse: 0;
    }
  }
}
