.c-talent {
  position: relative;

  &__img {
    position: relative;

    @media (min-width: 62em) {
      order: -1;
    }

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 46px;
      position: absolute;
      top: -10px;
      left: -10px;
      background: url(/img/quote.svg) left top no-repeat;
      background-size: contain;
    }
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__links {
    display: none;
    position: absolute;
    top: 12px;
    width: auto;
    right: -1rem;

    @media (min-width: 62em) {
      display: flex;
    }
  }
}
