{{ define "main" }}

<div class="fr-container">
  <div class="fr-mb-10v fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-10 fr-col-xl-8">
      <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-192">Voir le fil
          d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-192">
          <ol class="fr-breadcrumb__list">
            <li>
              <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
              {{ if eq .Params.role "participant" }}
              <a class="fr-breadcrumb__link" href="{{ relref . " /talents" }}">Talents EIG</a>
              {{ else }}
              <a class="fr-breadcrumb__link" href="{{ relref . " /ecosystem" }}">Écosysteme</a>
              {{ end }}
            </li>
            <li>
              <a class="fr-breadcrumb__link" aria-current="page">{{ .Title }}</a>
            </li>
          </ol>
        </div>
      </nav>
      <div class="c-talent fr-mb-8v">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-7">
            {{ with .Params.promos }}
            <div class="fr-mb-2v">{{ delimit . ", " }}</div>
            {{ end }}
            <h1 class="fr-mb-2v">{{ .Title }}</h1>
            <div class="fr-h4 fr-mb-2v">{{ .Params.job }}</div>
            {{ $defi := where (where .Site.Pages "Section" "defis") ".Title" "in" .Params.defis }}
            {{ if ( gt ( len $defi ) 0 ) }}
            <ul class="fr-tags-group">
              {{ range $defi }}
              <li><a href="{{ .RelPermalink }}" class="fr-tag">{{ .Title }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
            <ul class="fr-btns-group fr-btns-group--inline c-talent__links">
              {{ if isset .Params "linkedin" }}<li><a class="fr-btn fr-fi-linkedin-box-fill fr-btn--secondary"
                  href="{{ .Params.linkedin }}" title="Linkedin" target="_blank">Linkedin</a></li>{{ end }}
              {{ if isset .Params "github" }}<li><a class="fr-btn fr-btn--secondary fr-btn--icon-only"
                  href="{{ .Params.github }}" title="Github" target="_blank"><img src="/img/icon-github.svg" alt=""></a>
              </li>{{ end }}
            </ul>
          </div>
          <div class="fr-col-12 fr-col-lg-3 c-talent__img">
            <div class="c-talent__img-wrap">
              <img src="/{{ .Params.image }}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="c-wysiwyg c-wysiwyg--quote">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

{{ end }}